// use this file to define global scss variables
// you can use these values by importing this file in another .scss file

$font-size: 20pt;

$media-breakpoint-tablet: 1024px;
$media-breakpoint-mobile: 576px;